.nice
{
font-family: "Lucida Sans Unicode", "Lucida
Grande", sans-serif;
font-size: 1.2em;
text-shadow: 2px 2px 2px #0f49d4;
}

ul, ol { margin-bottom: 20px; }
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
li { margin-bottom: 10px; }
